{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Guarda Tus Tareas</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo perspiciatis sapiente incidunt omnis quibusdam architecto, officiis, debitis voluptatum aliquam molestias enim laudantium delectus exercitationem harum distinctio, ipsam fugiat temporibus voluptatibus.
      Aut maxime id cumque minima blanditiis, repellat voluptatibus iusto. Delectus qui libero aliquam consequatur optio neque cupiditate? Odio facilis ut numquam, deserunt, asperiores quis dolorum cumque, mollitia harum totam nisi!
      Odio ea placeat culpa, deleniti, fugiat consequuntur voluptate repellat est iure perspiciatis possimus aspernatur inventore aliquid omnis dignissimos harum eligendi? Voluptatibus a doloremque, perspiciatis animi quae fugiat sapiente pariatur similique.
      Nihil vero error aut porro sequi, placeat mollitia corrupti culpa nulla fuga ab maxime officiis molestiae non harum consequuntur deleniti minus assumenda architecto laudantium, a debitis reiciendis modi accusamus? Natus!
      Omnis tenetur non quas voluptatem, aspernatur consectetur esse distinctio et repudiandae, vero, cumque delectus ducimus quaerat dolores animi unde nulla minus porro placeat blanditiis modi quam recusandae. Molestiae, debitis maxime.
    </p>
    <div class="text-center">
      <a class="btn btn-dark" href="/signup">
        registro
      </a>
      <a class="btn btn-dark" href="/signin">
        login
      </a>
    </div>
  </section>
</main>

{% endblock %}
